* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  background: #333;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.start {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.start__title {
  margin: 0 0 30px 0;
  font-size: 56px;
  color: #e0e0e0;
}

.start__button {
  cursor: pointer;
  outline: none;
  padding: 20px 40px;
  font-size: 22px;
  font-weight: 600;
  background-color: #000000;
  border-radius: 6px;
  color: #ffa500;
  box-shadow: 12px -6px 26px -19px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}

.start__button:hover {
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  border: none;
  outline: none;
}

.instructions {
  width: 70vw;
  height: 80vh;
  background-color: #34b3f1;
  border-radius: 6px;
  box-shadow: 12px -6px 26px -19px rgba(0, 0, 0, 0.75);
  padding: 30px 40px;
}

.instructions__title {
  color: #fff;
  font-size: 30x;
  margin: 0 0 30px 0;
}

.instructions__subtitle {
  margin: 0 0 20px 0;
  color: #ebebeb;
}

.questions-container {
  width: 75vw;
  height: 100vh;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  border-radius: 6px;
  box-shadow: 12px -6px 26px -19px rgba(0, 0, 0, 0.75);
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.question-image {
  margin: 0 auto 20px auto;
  width: 50%;
  max-width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  border: none;
}

.question-number {
  color: #fff;
  font-size: 30px;
  margin: 0 0 20px 0;
}

.question-title {
  margin: 0 0 15px 0;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.answer-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1vw;
  width: 60%;
}

.btn {
  cursor: pointer;
  outline: none;
  padding: 10px 30px;
  font-size: 18px;
  background-color: #f0ebeb;
  color: #ffa500;
  font-weight: 600;
  box-shadow: 12px -6px 26px -19px rgba(0, 0, 0, 0.75);
  display: block;
  border: none;
  border-radius: 80px;
}

.btn:hover {
  background-image: linear-gradient(
    183.5deg,
    rgba(244, 173, 6, 1) 18.6%,
    rgba(229, 251, 31, 1) 119.9%
  );
  border: none;
  color: #333;
}

.final-screen {
  width: 70vw;
  height: 80vh;
  background-color: #34b3f1;
  border-radius: 6px;
  box-shadow: 12px -6px 26px -19px rgba(0, 0, 0, 0.75);
  padding: 30px 40px;
}

.hide {
  display: none;
  
}

.points {
  position: absolute;
  z-index: 999;
  left: 70%;
  top: 11%;
  color: #fff;
}

#explantion {
  margin: 20px 0 20px 0;
  color: #000000;
  padding: 1rem;
  background-color: #ffa500;
  background-color: #e0e0e0;
  width: 600px;
  height: fit-content;
  font-size: 22px;
  border: none;
  border-radius: 20px;
  line-height: 1.4;
  box-shadow: 12px -6px 26px -19px rgba(0, 0, 0, 0.75);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

#explanationP {
  margin: 20px 0 20px 0;
  color: #000000;
  padding: 2rem;
  height: fit-content;
  font-size: 22px;
  line-height: 1.4;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.show {
  transition: all 2s ease;
}

.correct {
  background-color: rgb(28, 236, 28);
  color: #e0e0e0;
}

.wrong {
  background-color: rgb(224, 16, 9);
  color: #e0e0e0;
}
